/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.current-tale p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-height: 19px; /* fallback */
    max-height: 76px; /* fallback */
}

a {
    color: dodgerblue;
    text-decoration: none;
}

    a:hover {
        color: dodgerblue;
        text-decoration: none;
    }
a:focus {
    outline: 0;
}

#divUploadFile {
    background-color: skyblue;
}

.tale-details-container {
    border-radius: 7px;
    background-color: #F0F0F0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    text-align: center;
    
}

input[readonly] {
    cursor: default;
    border: none;
}

.transparent-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#chapterText{
    width: 100%;
    height: 100%;
}

.pagination-number-current{
    margin: 5px;
    color:red;
    text-decoration: underline;
}



.pagination-number {
    color: #303030;
    margin: 5px;
}



.tags-list li {
    display: inline; 
    margin-right: 3px;
    border: 3px solid #000;
    padding: 3px;
}


.tagWords{
    
}


.search {
    border-radius: 5px;
    padding: 4px;
    border: none;
    outline: none;
}
.head {
    background-color: #303030;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    margin-bottom: 60px;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}



.manage-nav {
    color: #303030;
}
.active-nav {
    background-color: #303030;
    color: white;
}

.create-tale-button {
    color:white;
    background-color: #303030;
    border-radius: 10px;
    margin: 20px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: white;
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
}


.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    color: white;
}


