@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-md-center">
    <div class="col-md-8">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <section>
            <h5>Use another services to log in.</h5>
            <hr />
            @{
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            <button type="submit" class="transparent-button" name="provider" value="Google" title="Log in using your Google account"><i class="fa fa-google" aria-hidden="true"></i></button>
                            <button type="submit" class="transparent-button" name="provider" value="Facebook" title="Log in using your Facebook account"><i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button type="submit" class="transparent-button" name="provider" value="Twitter" title="Log in using your Twitter account"><i class="fa fa-twitter" aria-hidden="true"></i></button>
                        </p>
                    </div>
                </form>
            }
        </section>
    </div>
</div>
@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/tmp.js"></script>
    <script>
        $(function () {
            var current = location.pathname;
            $('.nav-tabs li a').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href')) != -1) {
                    $this.addClass('active-nav');
                }
            })
        })
    </script>
}

