<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d44f6a17-421e-4494-adbe-8b45452100db/resourceGroups/itransition/providers/Microsoft.Web/sites/task520210221130853</ResourceId>
    <ResourceGroup>itransition</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://task520210221130853.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>b3e9b0c8-6dbf-4f15-81bf-2bb3da8f4c31</ProjectGuid>
    <MSDeployServiceURL>task520210221130853.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>task520210221130853</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$task520210221130853</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <WebConfigEnvironmentVariables>ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.Azure.SignalR</WebConfigEnvironmentVariables>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>