@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fanfic</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&display=swap" rel="stylesheet">
    <link href="~/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/search.css" />



</head>
<body>
    <header>
        <nav class="navbar head navbar-expand-lg">
            <a class="navbar-brand" style="color:white;" asp-page="/Index">Fanfic</a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto"></ul>
                <form class="form-inline" asp-page-handler="Search"   asp-page="/SearchResult">
                    <input id="searchQuery" class="search" placeholder="Search" name="query">
                    <button class="transparent-button" type="submit"><i class="fa fa-search" style="color:white;" aria-hidden="true"></i></button>
                </form>
                <ul class="navbar-nav mr-auto"></ul>
            </div>
            <partial name="_LoginPartial">
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
