@using Microsoft.AspNetCore.Identity
@using Fanfic.Data
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav mr-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index">@UserManager.GetUserAsync(User).Result.Name</a>
    </li>
    <li>

    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
            <button  type="submit" class="nav-link transparent-button" style="color:white;"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
