@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">

    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>E-mail</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Input.Age"></label>
                <input asp-for="Input.Age" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

    <div class="col-md-6">
        <img id="avatar" src="@Model.AvatarPath" class="rounded-circle profile-img" height="200" width="200" asp-append-version="true" />
        <!--<div class="form-group">
            <label>Change your avatar</label>
            <input asp-for="Avatar" class="form-control" />
        </div>-->

        <div id="divUploadFile" class="drop-place">
            <p>Drop new avatar here</p>
        </div>
        <img id="imgLoading" src="~/gifs/loading.gif" style="display:none; width:150px; height:150px;" />
    </div>

    

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/compressorjs/dist/compressor.js"></script>
    <script src="~/js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="~/lib/jquery.filedrop.js"></script>
    <script src="~/js/dragAndDropAvatar.js"></script>
}